.component-checkbox-input__checkbox {
  padding-top: 3px;
  float: left;
}

.component-checkbox-input__title {
  margin-bottom: 4px;
  cursor: pointer;
  display: block;
  font-family: $gu-text-egyptian-web;
}

.component-checkbox-input__copy {
  overflow: hidden;
  padding-left: 8px;
  cursor: pointer;
}
